.jumbotron {
	padding: 4rem 2rem;
	background-color: slategray;
	color: white;
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	color: white;
	background-color: royalblue;
}
